# Data Programming in Python | BAIS:6040
# Module 3 - Python Basics Part 2 In-Class Exercises

## Exercises for For Loops

1\. Write a <b>for</b> loop that prints all integers from 1 to 50, separated by a comma. Use the <b>range</b> function to generate numbers.

In [20]:
# Your answer here
for i in range(1, 51):
    if i <50:
        print(i, end=', ')
    else:
        print(i)

#2nd way
my_list = []
for i in range(1, 51):
    my_list.append(i)
result = ', '.join(map(str, my_list)) 
print(result)

1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50
1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50

2\. Write a <b>for</b> loop that prints all characters in the string `quote` below, separated by a space.

In [2]:
quote = "To be or not to be, that is the question"

In [3]:
# Your answer here
for i in quote:
    print(i, end=' ')

T o   b e   o r   n o t   t o   b e ,   t h a t   i s   t h e   q u e s t i o n

3\. Write a <b>for</b> loop that prints the same as above, but this time using the index of `quote`.

In [5]:
# Your answer here
for i in range(len(quote)):
    print(quote[i], end=' ')

T o   b e   o r   n o t   t o   b e ,   t h a t   i s   t h e   q u e s t i o n

4\. Write a <b>for</b> loop that prints the same as above, except that the letters at odd index positions are printed in upper case, while the other letters are printed as they are.

In [6]:
# Your answer here
for i in range(len(quote)):
    if i % 2 == 1:
        # Print the character in uppercase if the index is odd
        print(quote[i].upper(), end=' ')
    else:
        # Print the character as it is if the index is even
        print(quote[i], end=' ')

T O   B e   o R   N o T   T o   b E ,   t H a T   I s   t H e   q U e S t I o N

5\. Write a <b>for</b> loop that prints "NAME is AGE years old." for each tuple in `students`, separated by a new line, where NAME is the first value in each tuple and AGE the second. For example, the first line in the output must look as follows:

Alice is 20 years old.

In [7]:
students = [("Alice", 20), ("Bob", 22), ("Charlie", 19)]

In [13]:
# Your answer here
for name, age in students:
    # Print the formatted string
    #print(f"{name} is {age} years old.")
    #print(name + " is " + str(age) + " years old.")
    print(' {} is {} years old.'.format(name, age))

 Alice is 20 years old.
 Bob is 22 years old.
 Charlie is 19 years old.

## Exercises for List Comprehension

1\. Not using and using list comprehension, create a list `temperatures_f` of temperatures in Fahrenheit converted from the list `temperatures_c` in Celsius. You can use the following formula to convert from Celsius to Fahrenheit: **`temp * 9/5 + 32`**

In [14]:
temperatures_c = [0, 10, 20, 30, 40]

In [22]:
# Your answer here NOT using list comprehension
temperatures_f = []

for temp in temperatures_c:
    temperatures_f.append(temp * 9/5 + 32)

print(temperatures_f)

[32.0, 50.0, 68.0, 86.0, 104.0]

In [23]:
# Your answer here USING list comprehension
temperatures_f = [temp * 9/5 + 32 for temp in temperatures_c]
 
print(temperatures_f)

[32.0, 50.0, 68.0, 86.0, 104.0]

2\. Not using and using  list comprehension, create a list `lengths` of of the the lengths of each word in the list `words`.

In [15]:
words = ["apple", "banana", "cherry", "date", "elderberry"]

In [16]:
# Your answer here NOT using list comprehension 
lengths = []
 
for word in words: 
    lengths.append(len(word))
 
print(lengths)

[5, 6, 6, 4, 10]

In [17]:
# Your answer here using list comprehension 
lengths = [len(word) for word in words] 
print(lengths)

[5, 6, 6, 4, 10]

3\. Using list comprehension, create a list `initials` of the first letter of each word in `words`.

In [26]:
# Your answer here
initials = [word[0] for word in words]

['a', 'b', 'c', 'd', 'e']

4\. Using list comprehension, create a list `upper_words` of the words in `words` converted to uppercase.

In [18]:
# Your answer here
upper_words = [word.upper() for word in words]
 
print(upper_words)

['APPLE', 'BANANA', 'CHERRY', 'DATE', 'ELDERBERRY']

5\. Using list comprehension, create a list `even_numbers` of all even numbers from 1 to 50.

In [19]:
# Your answer here
even_numbers = [num for num in range(1, 51) if num % 2 == 0] 
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]