# Data Programming in Python | BAIS:6040
# Module 3 - Python Basics Part 2

Written by Kang-Pyo Lee

## Exercises for Branches

In [1]:
x, y = 3, 5

1\. Write an <b>if</b> statement that prints "*Integer*" if `x` is an integer, "*Float*" if `x` is a floating point number, "*Complex*" if `x` is a complex number, and "*Not a number*" otherwise. Use the <b>type</b> function to check the type of a variable.

In [1]:
# Your answer here
if type(x) == int:
    print("Integer")
elif type(x) == float:
    print("Float")
elif type(x) == complex:
    print("Complex")
else:
    print("Not a number")

NameError: name 'x' is not defined

2\. Write an <b>if</b> statement that prints "*Even*" if `x` is an even number and "*Odd*" if `x` is an odd number. In order to check if a number is either even or odd, divide it by 2 and if the remainder is 0, you can say it is even, otherwise, it is odd. Use the % operator to get the remainder of a division.

In [3]:
# Your answer here
if x % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

3\. Write an <b>if</b> statement that prints "*x is greater than y.*" if `x` is greater than `y`, "*x is less than y.*" if `x` is less than `y`, and "*x equals y.*" otherwise.

In [4]:
# Your answer here
if x > y:
    print("x is greater than y.")
elif x < y:
    print("x is less than y.")
else:
    print("x equals y.")

x is less than y.

## Exercises for For Loops

1\. Write a <b>for</b> loop that prints all integers from 1 to 100, separated by a tab. Use the <b>range</b> function to generate numbers.

In [5]:
# Your answer here
for num in range(1, 101):
    print(num, end="\t")

1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99	100

2\. Write a <b>for</b> loop that prints all characters in the string `s` below, separated by a tab.

In [6]:
s = "abcdefghijklmnopqrstuvwxyz"

In [7]:
# Your answer here
for c in s:
    print(c, end="\t")

a	b	c	d	e	f	g	h	i	j	k	l	m	n	o	p	q	r	s	t	u	v	w	x	y	z

3\. Write a <b>for</b> loop that prints the same as above, but this time using the index of `s`.

In [8]:
# Your answer here
for i in range(len(s)):
    c = s[i]
    print(c, end="\t")

a	b	c	d	e	f	g	h	i	j	k	l	m	n	o	p	q	r	s	t	u	v	w	x	y	z

4\. Write a <b>for</b> loop that prints the same as above, except that the letters at odd index positions are printed in upper case, while the other letters are printed as they are.

In [9]:
# Your answer here
for i in range(len(s)):
    c = s[i]
    if i % 2 == 1:
        print(c.upper(), end="\t")
    else:
        print(c, end="\t")

a	B	c	D	e	F	g	H	i	J	k	L	m	N	o	P	q	R	s	T	u	V	w	X	y	Z

5\. Write a <b>for</b> loop that prints "NAME is SEX and aged AGE." for each tuple in `employees`, separated by a new line, where NAME is the first value in each tuple, SEX the second, and AGE the third. For example, the first line in the output must look as follows:

Alice is female and aged 30.

In [10]:
employees = [("Alice", 30, "female"), ("Bob", 25, "male"), ("Tom", 34, "male")]

In [11]:
# Your answer here
for name, age, sex in employees:
    print("{} is {} and aged {}.".format(name, sex, age))

Alice is female and aged 30.
Bob is male and aged 25.
Tom is male and aged 34.

6\. Write a <b>for</b> loop that prints "ABBREVIATION is the abbreviation for FULLNAME." for each key-value pair in the dictionary `states`, separated by a new line, where ABBREVIATION is the key in `states` and FULLNAME the value. For example, the first line in the output must look as follows:

IA is the abbreviation for Iowa.

In [12]:
states = {"IA": "Iowa", "IL": "Illinois", "MN": "Minnesota", "NE": "Nebraska", "WI": "Wisconsin"}

In [13]:
# Your answer here
for key in states:
    val = states[key]
    print("{} is the abbreviation for {}.".format(key, val))

IA is the abbreviation for Iowa.
IL is the abbreviation for Illinois.
MN is the abbreviation for Minnesota.
NE is the abbreviation for Nebraska.
WI is the abbreviation for Wisconsin.

7\. Write a <b>for</b> loop that prints all names in the list `names` in uppercase, separated by a new line.

In [14]:
names = ["Alice", "Bob", "Mary", "Sam", "Sarah", "Tom"]

In [15]:
# Your answer here
for name in names:
    print(name.upper())

ALICE
BOB
MARY
SAM
SARAH
TOM

8\. Write a <b>for</b> loop that prints the first two characters of each name in `names` in lowercase, separated by a new line.

In [16]:
# Your answer here
for name in names:
    print(name.lower()[:2])     # Or item[:2].lower()

al
bo
ma
sa
sa
to

9\. Write a <b>for</b> loop that prints only the names in `names` that are three letters long, separated by a new line.

In [17]:
# Your answer here
for name in names:
    if len(name) == 3:
        print(name)

Bob
Sam
Tom

10\. Write a <b>for</b> loop that prints only the names in `names` that end with either "*m*" or "*y*", separated by a new line.

In [18]:
# Your answer here
for name in names:
    if (name.endswith("m") | (name.endswith("y"))):
        print(name)

Mary
Sam
Tom

In [19]:
# Alternatively
for name in names:
    if (name[-1] == "m") | (name[-1] == "y"):
        print(name)

Mary
Sam
Tom

11\. Write a nested <b>for</b> loop that prints "NAME1 & NAME2", where NAME1 and NAME2 are any elements in `men` and `women`, respectively. Each pair of names is printed separated by a new line. For example, the first 4 and last 4 lines in the output must look as follows:

Bob & Alice
Bob & Mary
Bob & Sarah

Tom & Alice
Tom & Mary
Tom & Sarah

In [20]:
men = ["Bob", "Sam", "Tom"]
women = ["Alice", "Mary", "Sarah"]

In [21]:
# Your answer here
for name1 in men:
    for name2 in women:
        print("{} & {}".format(name1, name2))     # Alternatively, print(name1 + " & " + name2)

Bob & Alice
Bob & Mary
Bob & Sarah
Sam & Alice
Sam & Mary
Sam & Sarah
Tom & Alice
Tom & Mary
Tom & Sarah

12\. Write a <b>for</b> loop using the <b>zip</b> function that prints "NAME1 & NAME2", where NAME1 and NAME2 are the elements in `men` and `women`, respectively, that are at the same position. Each pair of names is printed separated by a new line. It must be printed as follows:

Bob & Alice
Sam & Mary
Tom & Sarah

In [22]:
# Your answer here
for name1, name2 in zip(men, women):
    print("{} & {}".format(name1, name2))

Bob & Alice
Sam & Mary
Tom & Sarah

13\. The variable `l` has all odd numbers from 1 to 999. Write a <b>for</b> loop that adds all numbers in `l` one after another. Print the final sum after the <b>for</b> loop.

In [23]:
l = range(1, 1000, 2)

In [24]:
# Your answer here
sum1 = 0

for num in l:
    sum1 += num

print(sum1)

250000

14\. Check if the result from the <b>for</b> loop matches the result from the built-in <b>sum</b> function. The outcome must be either True or False.

In [25]:
# Your answer here
sum1 == sum(l)

True

15\. Write a <b>for</b> loop that adds all numbers in `l` one after another, printing the intermediate sum for every iteration along with its index position. Print the final sum after the <b>for</b> loop. The first and last 5 lines in the output must look as follows:

[0] 1
[1] 4
[2] 9
[3] 16
[4] 25

[496] 247009
[497] 248004
[498] 249001
[499] 250000
250000

In [26]:
# Your answer here
sum1 = 0

for i in range(len(l)):
    num = l[i]
    sum1 += num
    print("[{}] {}".format(i, sum1))

print(sum1)

[0] 1
[1] 4
[2] 9
[3] 16
[4] 25
[5] 36
[6] 49
[7] 64
[8] 81
[9] 100
[10] 121
[11] 144
[12] 169
[13] 196
[14] 225
[15] 256
[16] 289
[17] 324
[18] 361
[19] 400
[20] 441
[21] 484
[22] 529
[23] 576
[24] 625
[25] 676
[26] 729
[27] 784
[28] 841
[29] 900
[30] 961
[31] 1024
[32] 1089
[33] 1156
[34] 1225
[35] 1296
[36] 1369
[37] 1444
[38] 1521
[39] 1600
[40] 1681
[41] 1764
[42] 1849
[43] 1936
[44] 2025
[45] 2116
[46] 2209
[47] 2304
[48] 2401
[49] 2500
[50] 2601
[51] 2704
[52] 2809
[53] 2916
[54] 3025
[55] 3136
[56] 3249
[57] 3364
[58] 3481
[59] 3600
[60] 3721
[61] 3844
[62] 3969
[63] 4096
[64] 4225
[65] 4356
[66] 4489
[67] 4624
[68] 4761
[69] 4900
[70] 5041
[71] 5184
[72] 5329
[73] 5476
[74] 5625
[75] 5776
[76] 5929
[77] 6084
[78] 6241
[79] 6400
[80] 6561
[81] 6724
[82] 6889
[83] 7056
[84] 7225
[85] 7396
[86] 7569
[87] 7744
[88] 7921
[89] 8100
[90] 8281
[91] 8464
[92] 8649
[93] 8836
[94] 9025
[95] 9216
[96] 9409
[97] 9604
[98] 9801
[99] 10000
[100] 10201
[101] 10404
[102] 10609
[103] 10816
[104] 11025
[105] 11236
[106] 11449
[107] 11664
[108] 11881
[109] 12100
[110] 12321
[111] 12544
[112] 12769
[113] 12996
[114] 13225
[115] 13456
[116] 13689
[117] 13924
[118] 14161
[119] 14400
[120] 14641
[121] 14884
[122] 15129
[123] 15376
[124] 15625
[125] 15876
[126] 16129
[127] 16384
[128] 16641
[129] 16900
[130] 17161
[131] 17424
[132] 17689
[133] 17956
[134] 18225
[135] 18496
[136] 18769
[137] 19044
[138] 19321
[139] 19600
[140] 19881
[141] 20164
[142] 20449
[143] 20736
[144] 21025
[145] 21316
[146] 21609
[147] 21904
[148] 22201
[149] 22500
[150] 22801
[151] 23104
[152] 23409
[153] 23716
[154] 24025
[155] 24336
[156] 24649
[157] 24964
[158] 25281
[159] 25600
[160] 25921
[161] 26244
[162] 26569
[163] 26896
[164] 27225
[165] 27556
[166] 27889
[167] 28224
[168] 28561
[169] 28900
[170] 29241
[171] 29584
[172] 29929
[173] 30276
[174] 30625
[175] 30976
[176] 31329
[177] 31684
[178] 32041
[179] 32400
[180] 32761
[181] 33124
[182] 33489
[183] 33856
[184] 34225
[185] 34596
[186] 34969
[187] 35344
[188] 35721
[189] 36100
[190] 36481
[191] 36864
[192] 37249
[193] 37636
[194] 38025
[195] 38416
[196] 38809
[197] 39204
[198] 39601
[199] 40000
[200] 40401
[201] 40804
[202] 41209
[203] 41616
[204] 42025
[205] 42436
[206] 42849
[207] 43264
[208] 43681
[209] 44100
[210] 44521
[211] 44944
[212] 45369
[213] 45796
[214] 46225
[215] 46656
[216] 47089
[217] 47524
[218] 47961
[219] 48400
[220] 48841
[221] 49284
[222] 49729
[223] 50176
[224] 50625
[225] 51076
[226] 51529
[227] 51984
[228] 52441
[229] 52900
[230] 53361
[231] 53824
[232] 54289
[233] 54756
[234] 55225
[235] 55696
[236] 56169
[237] 56644
[238] 57121
[239] 57600
[240] 58081
[241] 58564
[242] 59049
[243] 59536
[244] 60025
[245] 60516
[246] 61009
[247] 61504
[248] 62001
[249] 62500
[250] 63001
[251] 63504
[252] 64009
[253] 64516
[254] 65025
[255] 65536
[256] 66049
[257] 66564
[258] 67081
[259] 67600
[260] 68121
[261] 68644
[262] 69169
[263] 69696
[264] 70225
[265] 70756
[266] 71289
[267] 71824
[268] 72361
[269] 72900
[270] 73441
[271] 73984
[272] 74529
[273] 75076
[274] 75625
[275] 76176
[276] 76729
[277] 77284
[278] 77841
[279] 78400
[280] 78961
[281] 79524
[282] 80089
[283] 80656
[284] 81225
[285] 81796
[286] 82369
[287] 82944
[288] 83521
[289] 84100
[290] 84681
[291] 85264
[292] 85849
[293] 86436
[294] 87025
[295] 87616
[296] 88209
[297] 88804
[298] 89401
[299] 90000
[300] 90601
[301] 91204
[302] 91809
[303] 92416
[304] 93025
[305] 93636
[306] 94249
[307] 94864
[308] 95481
[309] 96100
[310] 96721
[311] 97344
[312] 97969
[313] 98596
[314] 99225
[315] 99856
[316] 100489
[317] 101124
[318] 101761
[319] 102400
[320] 103041
[321] 103684
[322] 104329
[323] 104976
[324] 105625
[325] 106276
[326] 106929
[327] 107584
[328] 108241
[329] 108900
[330] 109561
[331] 110224
[332] 110889
[333] 111556
[334] 112225
[335] 112896
[336] 113569
[337] 114244
[338] 114921
[339] 115600
[340] 116281
[341] 116964
[342] 117649
[343] 118336
[344] 119025
[345] 119716
[346] 120409
[347] 121104
[348] 121801
[349] 122500
[350] 123201
[351] 123904
[352] 124609
[353] 125316
[354] 126025
[355] 126736
[356] 127449
[357] 128164
[358] 128881
[359] 129600
[360] 130321
[361] 131044
[362] 131769
[363] 132496
[364] 133225
[365] 133956
[366] 134689
[367] 135424
[368] 136161
[369] 136900
[370] 137641
[371] 138384
[372] 139129
[373] 139876
[374] 140625
[375] 141376
[376] 142129
[377] 142884
[378] 143641
[379] 144400
[380] 145161
[381] 145924
[382] 146689
[383] 147456
[384] 148225
[385] 148996
[386] 149769
[387] 150544
[388] 151321
[389] 152100
[390] 152881
[391] 153664
[392] 154449
[393] 155236
[394] 156025
[395] 156816
[396] 157609
[397] 158404
[398] 159201
[399] 160000
[400] 160801
[401] 161604
[402] 162409
[403] 163216
[404] 164025
[405] 164836
[406] 165649
[407] 166464
[408] 167281
[409] 168100
[410] 168921
[411] 169744
[412] 170569
[413] 171396
[414] 172225
[415] 173056
[416] 173889
[417] 174724
[418] 175561
[419] 176400
[420] 177241
[421] 178084
[422] 178929
[423] 179776
[424] 180625
[425] 181476
[426] 182329
[427] 183184
[428] 184041
[429] 184900
[430] 185761
[431] 186624
[432] 187489
[433] 188356
[434] 189225
[435] 190096
[436] 190969
[437] 191844
[438] 192721
[439] 193600
[440] 194481
[441] 195364
[442] 196249
[443] 197136
[444] 198025
[445] 198916
[446] 199809
[447] 200704
[448] 201601
[449] 202500
[450] 203401
[451] 204304
[452] 205209
[453] 206116
[454] 207025
[455] 207936
[456] 208849
[457] 209764
[458] 210681
[459] 211600
[460] 212521
[461] 213444
[462] 214369
[463] 215296
[464] 216225
[465] 217156
[466] 218089
[467] 219024
[468] 219961
[469] 220900
[470] 221841
[471] 222784
[472] 223729
[473] 224676
[474] 225625
[475] 226576
[476] 227529
[477] 228484
[478] 229441
[479] 230400
[480] 231361
[481] 232324
[482] 233289
[483] 234256
[484] 235225
[485] 236196
[486] 237169
[487] 238144
[488] 239121
[489] 240100
[490] 241081
[491] 242064
[492] 243049
[493] 244036
[494] 245025
[495] 246016
[496] 247009
[497] 248004
[498] 249001
[499] 250000
250000

16\. Write a <b>for</b> loop that calculates the product of the first 10 numbers in `l`. Print the final product after the <b>for</b> loop.

In [27]:
# Your answer here
product = 1

for num in l[:10]:
    product *= num

print(product)

654729075

## Exercises for List Comprehension

1\. Not using and using list comprehension, create a list `l2` of squares of the numbers in `l1`.

In [28]:
l1 = [1, 2, 3, 4, 5]

In [29]:
# Your answer here NOT using list comprehension
l2 = []

for num in l1:
    l2.append(num ** 2)
    
l2

[1, 4, 9, 16, 25]

In [30]:
# Your answer here USING list comprehension
l2 = [num ** 2 for num in l1]
l2

[1, 4, 9, 16, 25]

2\. Not using and using  list comprehension, create a list `l3` of lists, each of which contains the square and cube of each number in `l1`. For example, the last element in `l3` is [25, 125].

In [31]:
# Your answer here NOT using list comprehension
l3 = []

for num in l1:
    l3.append([num ** 2, num ** 3])
    
l3

[[1, 1], [4, 8], [9, 27], [16, 64], [25, 125]]

In [32]:
# Your answer here using list comprehension
l3 = [[num ** 2, num ** 3] for num in l1]
l3

[[1, 1], [4, 8], [9, 27], [16, 64], [25, 125]]

3\. Using list comprehension, create a list `names2` of the names in `names` in lower case.

In [33]:
names = ["Alice", "Bob", "Tom"]

In [34]:
# Your answer here
names2 = [name.lower() for name in names]
names2

['alice', 'bob', 'tom']

4\. Using list comprehension, create a list `names3` of tuples, each of which contains each name in `names` and the length of the name. For example, the first element in `names` is ('Alice', 5).

In [35]:
# Your answer here
names3 = [(name, len(name)) for name in names]
names3

[('Alice', 5), ('Bob', 3), ('Tom', 3)]

## Exercises for Loop Control

1\. Write a <b>for</b> loop that prints all names in `names` except for "*Mary*". (Use <b>continue</b>.)

In [36]:
names = ["Alice", "Bob", "Mary", "Sam", "Sarah", "Tom"]

In [37]:
# Your answer here
for name in names:
    if name == "Mary":
        continue
    print(name)

Alice
Bob
Sam
Sarah
Tom

2\. Write a <b>for</b> loop that prints the names in `names` from the beginning but stops right after it has printed "*Mary*".

In [38]:
# Your answer here
for name in names:
    print(name)
    
    if name == "Mary":
        break

Alice
Bob
Mary

3\. Write a <b>for</b> loop that adds all numbers in `l` except for multiples of 5. Print the final sum after the <b>for</b> loop. (Use <b>continue</b>.)

In [39]:
l = range(1, 1001)

In [40]:
# Your answer here
sum1 = 0

for num in l:
    if num % 5 == 0:
        continue
    sum1 += num

sum1

400000

4\. Write a <b>for</b> loop that adds numbers in `l` from the beginning but stops when the intermediate sum exceeds 1000, printing the current sum and the number last added.

In [41]:
# Your answer here
sum1 = 0

for num in l:
    sum1 += num
    
    if sum1 > 1000:
        print(sum1, num)
        break

1035 45

## Exercises for User-Defined Functions

1\. Write a function `concatenate` that takes two strings `s1` and `s2` as arguments and returns the concatenation of the two strings with a space between them.

In [42]:
# Your answer here
def concatenate(s1, s2):
    return s1 + " " + s2

In [43]:
# Test the function here
concatenate("Learning", "Python")     # Output: 'Learning Python'

'Learning Python'

2\. Write a function `concatenate_all` that takes a list `l` of strings as an argument and returns the concatenation of all strings in `l` with a space between them.

In [44]:
# Your answer here
def concatenate_all(l):
    return " ".join(l)

In [45]:
# Test the function here
concatenate_all(["Python", "R", "SAS", "SPSS", "Matlab", "Stata"])     # Output: 'Python R SAS SPSS Matlab Stata'

'Python R SAS SPSS Matlab Stata'

3\. Write a function `get_min` that takes two numbers `num1` and `num2` as arguments and returns the less value. If the two numbers are equal, it returns either value.

In [46]:
# Your answer here
def get_min(num1, num2):
    if num1 < num2:
        return num1
    else:
        return num2

In [47]:
# Test the function here
get_min(3, 5)     # Output: 3

3

In [48]:
# Test the function here
get_min(3, 3)     # Output: 3

3

4\. Write a function `get_min_all` that takes a list `l` of numbers as an argument and returns the least value in `l`. If the two numbers are equal, it returns either value.

In [49]:
# Your answer here
def get_min_all(l):
    return min(l)

In [50]:
# Test the function here
get_min_all([3, 2, 9, 6, 2, 7])     # Output: 2

2

5\. Write a function `get_abs_min_all` that takes a list `l` of numbers as an argument and returns the least absolute value in `l`. If the two numbers are equal, it returns either value.

In [51]:
# Your answer here
def get_abs_min_all(l):
    l_tmp = [abs(num) for num in l]
    
    return min(l_tmp)

In [52]:
# Test the function here
get_abs_min_all([-3, 5, -9, -6, -2, 7])     # Output: 2

2

6\. Write a function `get_head_tail` that takes a list `l` as an argument and returns the first and last elements in `l`. If `l` has less than 2 elements, it returns "*The input list is too short!*".

In [53]:
# Your answer here
def get_head_tail(l):
    if len(l) < 2:
        return "The input list is too short!"
    
    return l[0], l[-1]

In [54]:
# Test the function here
get_head_tail(["Python", "R", "SAS", "SPSS", "Matlab", "Stata"]) # Output: ('Python', 'Stata').

('Python', 'Stata')

In [55]:
# Test the function here
get_head_tail(["Python"])                                        # Output: 'The input list is too short!'.

'The input list is too short!'

## Advanced Exercises

7\. Write a function `highlight` that takes two strings `s` and `subs` as arguments and returns a new copy of `s` with its substring `subs` highlighted in upper case. If `s` does not contain `subs`, it returns "*No substring!*".

In [56]:
# Your answer here
def highlight(s, subs):
    if subs not in s:
        return "No substring!"
    
    return s.replace(subs, subs.upper())

In [57]:
# Test the function here
highlight("I'm learning Python data analytics.", "Python")       # Output: "I'm learning PYTHON data analytics."

"I'm learning PYTHON data analytics."

In [58]:
# Test the function here
highlight("I'm learning Python data analytics.", "SAS")          # Output: 'No substring!'.

'No substring!'

8\. Write a function *trim_message* that takes a string `message` and two integers `start` and `end` as arguments and returns the substring of `message` that starts at the index position `start` and ends at the index position `end` - 1.

In [59]:
# Your answer here
def trim_message(message, start, end):
    return message[start:end]

In [60]:
# Test the function here
trim_message("I'm learning Python data analytics.", 13, 19)      # Output: 'Python'

'Python'

9\. Write a function `trim_message2` that works the same as `trim_message` above. In addition, check inside the function if a) the type of `message` is <b>str</b> and b) the types of `start` and `end` are <b>int</b>. If any of those evaluates to false, return "*Invalid parameter type!*". Check also if a) `start` is greater than or equal to 0, b) `start` is less than `end`, and c) `end` is less than or equal to the length of `message`. If any of those evaluates to false, return "*Invalid parameter value!*".

In [61]:
# Your answer here
def trim_message2(message, start, end):
    if (type(message) != str) | (type(start) != int) | (type(end) != int):
        return "Invalid parameter type!"
    
    if (start < 0) | (start >= end) | (end > len(message)):
        return "Invalid parameter value!"
    
    return message[start:end]

In [62]:
# Test the function here
trim_message2("I'm learning Python data analytics.", 13, 19)     # Output: 'Python'

'Python'

In [63]:
# Test the function here
trim_message2(10000, 13, 19)                                     # Output: 'Invalid parameter type!'

'Invalid parameter type!'

In [64]:
# Test the function here
trim_message2("I'm learning Python data analytics.", -1, 19)     # Output: 'Invalid parameter value!'

'Invalid parameter value!'

In [65]:
# Test the function here
trim_message2("I'm learning Python data analytics.", 13, 10)     # Output: 'Invalid parameter value!'

'Invalid parameter value!'

In [66]:
# Test the function here
trim_message2("I'm learning Python data analytics.", 13, 100)    # Output: 'Invalid parameter value!'

'Invalid parameter value!'

10\. Create a dictionary `kwargs` that sets the parameter values of `message`, `start`, and `end` on your own and then call the function `trim_message2` by passing `kwargs`.

In [67]:
# Your answer here
kwargs = {"message": "I'm learning Python data analytics.", "start": 13, "end": 19}

In [68]:
# Test the function here
trim_message2(**kwargs)

'Python'